@import "tailwindcss";

:root {
  --font-heading: 'Oxanium', cursive;         /* For futuristic headings */
  --font-body: 'Work Sans', sans-serif;       /* For general readable body text */
  --font-hero: 'Outfit', sans-serif;          /* For elegant hero section */
  --font-mono: 'Courier New', monospace;      /* For code or console style */
}

* {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-body);
}

h1{
  font-family: var(--font-heading);
  font-weight: 700;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}